
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}

.header > .union {
    width: 25px;
}

.header > .sobre {
    margin-left: auto;
    margin-right: 10px;
}