
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 35px 0px 35px;

}

.header > .union {
    width: 25px;
}

.header > .sobre {
    margin-left: auto;
    margin-right: 10px;
}